/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #e1e2e1;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-purple: #8c52ff;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #0288d1;
  --color-dark-blue: #005b9f;
  --color-light-blue: #5eb8ff;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-green: #00695c;
  --color-dark-green: #002232;
  --color-light-green: #4e7589;
  --color-bg-green: #20495c;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  opacity: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  font-family: "Gowun Dodum", sans-serif;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: var(--color-black);
}

.fp-prev {
  margin-left: 40px;
}

.fp-next {
  margin-right: 40px;
}

body {
  font-family: "Gowun Dodum", sans-serif;
  position: relative;
  text-align: center;
  overflow: hidden;
}

#fullpage {
  text-align: center;
}

html,
body,
#fullpage,
.section,
.slide,
.fp-tableCell {
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
}

#header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  top: 0;
  padding: 40px;
  z-index: 100;
  background: transparent;
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 30px;
}

.header__menu {
  display: flex;
  align-items: center;
  font-size: var(--font-medium);
}

.header__menu li {
  margin: 0 15px;
  list-style: none;
}

/* Main_Table */

#main {
  display: flex;
  width: 70%;
  height: 93%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main__header {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 90%;
  margin: auto;
}

.box {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  padding: 14px;
}

.imgbox {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.2);
}

.main__header__categories {
  width: 100%;
  height: 32%;
  margin-bottom: auto;
  border: 1px solid black;
}

.main__header__categories p {
  font-size: var(--font-medium);
  border-bottom: 1px solid black;
}

.main__header__categories li {
  font-size: var(--font-regular);
  margin-top: 18px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
  padding: 3px;
}

.main__header__categories li > a {
  transition: all var(--animation-duration) ease;
}

.main__header__categories li > a:hover {
  cursor: pointer;
  color: var(--color-dark-pink);
}

.main__header__categories li > a.active {
  color: var(--color-purple);
}

.main__header__best {
  width: 100%;
  height: 32%;
  margin: auto;
  border: 1px solid black;
}

.main__header__best > p {
  font-size: var(--font-medium);
  border-bottom: 1px solid black;
}

.main__header__best div {
  font-size: var(--font-small);
  margin-top: 8%;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
  padding: 4px;
}

.main__header__best div span {
  font-size: var(--font-micro);
  color: gray;
  margin-left: 3%;
}

.main__header__img {
  width: 100%;
  height: 31%;
  margin-top: auto;
  border: 1px solid black;
}

.main__header__img div {
  display: flex;
  width: 95%;
  height: 95%;
  margin: auto;
}

.main__header__img img {
  width: 100%;
  margin: auto;
}

.main__home {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 90%;
  margin: auto;
}

.main__home__categories {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10%;
  border: 1px solid black;
  margin-bottom: auto;
  text-align: start;
  padding: 8px;
}

.main__home__categories p {
  font-size: var(--font-large);
  border-bottom: 1px solid gray;
  margin-bottom: 4px;
}

.main__home__categories span {
  color: grey;
  margin-left: 2%;
}

.main__home__board {
  display: flex;
  width: 100%;
  height: 88%;
  border: 1px solid black;
  margin-top: auto;
}

.main__home__board__members {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background: whitesmoke;
  border-radius: 4px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
  overflow: scroll;
  scrollbar-width: none; /* -- Firefox */
}

.main__home__board__members::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.members__nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* margin-bottom: 5px; */
  top: 0;
  background: whitesmoke;
  z-index: 1;
}

.search-box {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box.active {
  width: 350px;
}
.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50px;
  background: #fff;
  outline: none;
  padding: 0 60px 0 20px;
  font-size: var(--font-regular);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  font-family: "Gowun Dodum", sans-serif;
}
.search-box input.active {
  opacity: 1;
}
.search-box input::placeholder {
  color: #a6a6a6;
}
.search-box .search-icon {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 22px;
  color: #8c52ff;
  cursor: pointer;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box .search-icon.active {
  right: 5px;
  height: 50px;
  line-height: 50px;
  width: 50px;
  font-size: 20px;
  background: #8c52ff;
  color: #fff;
  transform: translateY(-50%) rotate(360deg);
}
.search-box .cancel-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  color: var(--color-dark-pink);
  cursor: pointer;
  transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box .cancel-icon.active {
  right: -40px;
  transform: translateY(-50%) rotate(360deg);
}

.members__search:focus {
  outline: none;
  border-color: #aaa;
}

.sort {
  padding: 8px 20px;
  border-radius: 6px;
  border: none;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background-color: #8c52ff;
  margin-right: 20px;
  font-family: "Gowun Dodum", sans-serif;
  font-size: var(--font-regular);
}
.sort:hover {
  text-decoration: none;
  background-color: #5422cb;
}
.sort:focus {
  outline: none;
}
.sort:after {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content: "";
  position: relative;
  top: -10px;
  right: -5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content: "";
  position: relative;
  top: 4px;
  right: -5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content: "";
  position: relative;
  top: -4px;
  right: -5px;
}

.members__search {
  padding: 7px 14px;
}

.members__sort {
  display: flex;
  align-items: center;
}

.tbl_member {
  border-collapse: collapse;
  border-top: none;
  font-size: var(--font-small);
}

.tbl_member th {
  position: sticky;
  top: 10.1%;
  background: var(--color-yellow);
}

.tbl_member th,
.tbl_member td {
  padding: 10px;
  border: 1px solid var(--color-light-white);
}

.main__home__board__members table th:nth-child(1) {
  width: 3%;
}

.main__home__board__members table th:nth-child(2) {
  width: 21%;
}

.main__home__board__members table th:nth-child(3) {
  width: 7%;
}

.main__home__board__members table th:nth-child(4) {
  width: 8%;
}

.main__home__board__members table th:nth-child(5) {
  width: 8%;
}

.main__home__board__members table th:nth-child(6) {
  width: 8%;
}

.main__home__board__members table th:nth-child(7) {
  width: 5%;
}

.main__home__board__members table th:nth-child(8) {
  width: 5%;
}

.main__home__board__members table td {
  padding: 5px;
}

@media screen and (max-width: 1920px) {
  /* Global */
  :root {
    /* Font size */
    --font-Xlarge: 40px;
    --font-large: 25px;
    --font-medium: 20px;
    --font-regular: 17px;
    --font-small: 15px;
    --font-micro: 10px;
  }

  .main__home__categories p {
    margin-bottom: 2px;
  }

  .search-box.active {
    width: 300px;
  }

  .sort {
    padding: 6px 18px;
    margin-right: 10px;
  }

  .tbl_member th {
    top: 12.3%;
  }
}

@media screen and (max-width: 2559px) {
  /* Global */
  :root {
    /* Font size */
    --font-large: 40px;
    --font-medium: 20px;
    --font-regular: 15px;
    --font-small: 13px;
    --font-micro: 10px;
  }
  .main {
    height: 90vh;
  }

  .article__one img {
    width: 170px;
    height: 170px;
    border-radius: 4px;
  }
}

@media screen and (max-width: 1920px) {
  /* Global */
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 20px;
    --font-regular: 15px;
    --font-small: 13px;
    --font-micro: 10px;
  }
  .main {
    height: 90vh;
  }

  .article__one img {
    width: 150px;
    height: 150px;
    border-radius: 4px;
  }

  .article__two img {
    width: 50px;
    height: 50px;
  }
}