/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #e1e2e1;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-purple: #8c52ff;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #0288d1;
  --color-dark-blue: #005b9f;
  --color-light-blue: #5eb8ff;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-green: #00695c;
  --color-dark-green: #002232;
  --color-light-green: #4e7589;
  --color-bg-green: #20495c;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  opacity: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  font-family: "Gowun Dodum", sans-serif;
}

input {
  font-family: "Gowun Dodum", sans-serif;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: var(--color-black);
}

.fp-prev {
  margin-left: 40px;
}

.fp-next {
  margin-right: 40px;
}

body {
  font-family: "Gowun Dodum", sans-serif;
  position: relative;
  text-align: center;
  overflow: hidden;
}

#fullpage {
  text-align: center;
}

html,
body,
#fullpage,
.section,
.slide,
.fp-tableCell {
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
}

#header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  top: 0;
  padding: 40px;
  z-index: 100;
  background: transparent;
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 30px;
}

.header__menu {
  display: flex;
  align-items: center;
  font-size: var(--font-medium);
}

.header__menu li {
  margin: 0 15px;
  list-style: none;
}

/* User_Table */
#main {
  width: 40%;
  height: 80%;
  margin: auto;
}

.main_user {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
}

.input-group {
  display: flex;
  position: relative;
  width: 100%;
  margin: 1rem 0;
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 1.4rem;
  color: var(--gray-2);
}

.input-group input {
  width: 100%;
  padding: 1rem 3rem;
  font-size: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  border: 0.125rem solid white;
  outline: none;
}

.input-group select {
  width: 100%;
  padding: 1rem 3rem;
  font-size: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  border: 0.125rem solid white;
  outline: none;
}

.up input:focus {
  border: 0.125rem solid #ff5757;
}

.btn {
  cursor: pointer;
  width: 100%;
  padding: 0.6rem 0;
  border-radius: 0.5rem;
  border: none;
  color: black;
  font-size: 1.2rem;
  outline: none;
}

.sign-ups {
  background-color: #fff7d1;
}

.input-group input::file-selector-button {
  display: none;
}

.enroll__idcheck {
  /* position: absolute; */
  top: 6%;
  right: 6%;
  width: 20%;
  padding: 2px;
  font-size: 1rem;
  background-color: #fff7d1;
  border-radius: 0.5rem;
  border: 0.125rem solid #fff7d1;
  outline: none;
}

.form p {
  margin: 1rem 0;
  font-size: 1rem;
}

.pointer {
  cursor: pointer;
}

.profileimage {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-bottom: 15px;
}

.filebox label {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: 0.25em;
}

.filebox input[type="file"] {
  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sign-up{
	background: white;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 1.5rem;
	width: 75%;
}

@media screen and (max-width: 2559px) {
  /* Global */
  :root {
    /* Font size */
    --font-large: 40px;
    --font-medium: 20px;
    --font-regular: 15px;
    --font-small: 13px;
    --font-micro: 10px;
  }
}