<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.pitapet.product.model.dao.ProductMapper">
	<sql id="productListSql">
		SELECT P.NO, 
		       P.TITLE, 
		       P.CONTENT, 
		       P.CREATED_DATE, 
		       P.MODIFY_DATE,
		       I.NO AS I_NO,
		       I.PRODUCT_NO AS I_PRODUCT_NO,
		       I.PRICE AS I_PRICE,
		       I.COLOR_NAME AS I_COLOR_NAME,
		       I.COLOR_CODE AS I_COLOR_CODE,
		       I.ORIGINAL_FILENAME AS I_ORIGINAL_FILENAME,
		       I.RENAMED_FILENAME AS I_RENAMED_FILENAME,
		       I.STATUS AS I_STATUS,
		       I.STOCK AS I_STOCK,
		       I.CREATED_DATE AS I_CREATED_DATE,
		       I.MODIFY_DATE AS I_MODIFY_DATE
		 FROM PRODUCT P
		 JOIN PRODUCT_INFO I ON (P.NO = I.PRODUCT_NO)
		 WHERE I.STATUS = 'Y'
	</sql>
	
	<sql id="productInfoSql">
		SELECT NO,
		       PRODUCT_NO,
		       PRICE,
		       COLOR_NAME,
		       COLOR_CODE,
		       ORIGINAL_FILENAME,
		       RENAMED_FILENAME,
		       STATUS,
		       STOCK,
		       CREATED_DATE,
		       MODIFY_DATE
		 FROM PRODUCT_INFO
		 WHERE STATUS = 'Y'
	</sql>

	<resultMap type="Product" id="productListResultMap">
		<id property="no" column="NO"/>
		<result property="title" column="TITLE"/>
		<result property="content" column="CONTENT"/>
		<!-- <result property="price" column="PRICE"/> -->
		<result property="createdDate" column="CREATED_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
	</resultMap>
	
	<resultMap type="ProductInfo" id="productInfoResultMap">
		<id property="no" column="NO"/>
		<result property="productNo" column="PRODUCT_NO"/>
		<result property="price" column="PRICE"/>
		<result property="colorName" column="COLOR_NAME"/>
		<result property="colorCode" column="COLOR_CODE"/>
		<result property="originalFileName" column="ORIGINAL_FILENAME"/>
		<result property="renamedFileName" column="RENAMED_FILENAME"/>
		<!-- <result property="imageName" column="IMAGE_NAME"/> -->
		<result property="stock" column="STOCK"/>
		<result property="status" column="STATUS"/>
		<result property="createdDate" column="CREATED_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
	</resultMap>
	
	<resultMap type="Cart" id="cartListResultMap">
		<id property="no" column="NO"/>
		<result property="count" column="COUNT"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="productInfoNo" column="PRODUCT_INFO_NO"/>
	</resultMap>
	
	<resultMap type="Buy" id="buyListResultMap">
		<id property="no" column="NO"/>
		<result property="productInfoNo" column="PRODUCT_INFO_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="count" column="COUNT"/>
		<result property="amount" column="AMOUNT"/>
		<result property="buyDate" column="BUY_DATE"/>
	</resultMap>
	
	<resultMap type="Product" extends="productListResultMap" id="productDetailResultMap">
		<collection property="productInfoes" javaType="arraylist" columnPrefix="I_" resultMap="productInfoResultMap"/>
	</resultMap>
	
	<select id="selectProductNo" resultType="_int">
		SELECT P.NO
		FROM PRODUCT P
		JOIN PRODUCT_INFO I ON (P.NO = I.PRODUCT_NO)
		WHERE I.STOCK > 0
		AND I.STATUS = 'Y'
	</select>
	
	<select id="selectProductByNo" parameterType="_int" resultMap="productDetailResultMap">
		<include refid="productListSql"/>
		 AND P.NO = #{no}
	</select>
	
	<select id="getProductInfoCount" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT P
		JOIN PRODUCT_INFO I ON (P.NO = I.PRODUCT_NO) 
		WHERE I.STATUS = 'Y'
		<choose>
			<when test="no != null">
				AND I.PRODUCT_NO = ${no}
			</when>
		</choose>
	</select>
	
	<select id="findAll" parameterType="map" resultMap="productDetailResultMap">
		<include refid="productListSql"/>
		<choose>
			<when test="title != null">
				AND P.TITLE = '${title}'
			</when>
		</choose>
		 ORDER BY P.NO, I.NO
	</select>
	
	<select id="selectProductInfoByNo" parameterType="_int" resultMap="productDetailResultMap">
		<include refid="productListSql"/>
		 AND I.NO = #{no}
	</select>
	
	<update id="updateStatusProductInfo" parameterType="map">
		UPDATE PRODUCT_INFO 
		SET 
		STATUS = #{status} 
		WHERE NO = #{no}
	</update>
	
	<select id="selectAllProduct" resultMap="productListResultMap">
		SELECT NO, 
			   TITLE, 
			   CONTENT, 
			   CREATED_DATE, 
			   MODIFY_DATE
		FROM PRODUCT
		ORDER BY NO
	</select>
	
	<insert id="insertProductInfo" parameterType="ProductInfo"
			useGeneratedKeys="true" keyColumn="NO" keyProperty="no">
		INSERT INTO PRODUCT_INFO (
			NO,
			PRODUCT_NO,
			PRICE,
			COLOR_NAME,
			COLOR_CODE,
			ORIGINAL_FILENAME,
			RENAMED_FILENAME,
			STOCK,
			STATUS,
			CREATED_DATE,
			MODIFY_DATE
		)VALUES(
			SEQ_INFO_NO.NEXTVAL, 
			#{productNo}, 
			#{price}, 
			#{colorName}, 
			#{colorCode}, 
			#{originalFileName}, 
			#{renamedFileName}, 
			#{stock}, 
			'Y', 
			DEFAULT, 
			DEFAULT
			)
	</insert>
	
	<update id="updateProductInfo" parameterType="ProductInfo">
		UPDATE PRODUCT_INFO
		<trim prefix="SET" suffixOverrides=",">
			<if test="price != null">
				PRICE = #{price},
			</if>
			<if test="colorName != null">
				COLOR_NAME = #{colorName},
			</if>
			<if test="colorCode != null">
				COLOR_CODE = #{colorCode},
			</if>
			<if test="originalFileName != null">
				ORIGINAL_FILENAME = #{originalFileName},
			</if>
			<if test="renamedFileName != null">
				RENAMED_FILENAME = #{renamedFileName},
			</if>
			<if test="stock != null">
				STOCK = #{stock},
			</if>
			MODIFY_DATE = SYSDATE 
		</trim>
		WHERE NO = #{no}
	</update>
	
	<select id="selectProductInfoByINo" parameterType="_int" resultMap="productInfoResultMap">
		<include refid="productInfoSql"/>
		 AND NO = #{no}
	</select>
	
	<insert id="insertProduct" parameterType="Product"
			useGeneratedKeys="true" keyColumn="NO" keyProperty="no">
		INSERT INTO PRODUCT (
		    NO,
		    TITLE,
		    CONTENT,
		    CREATED_DATE,
		    MODIFY_DATE
		)VALUES(
		    SEQ_PRODUCT_NO.NEXTVAL, 
		    #{title}, 
		    #{content}, 
		    DEFAULT, 
		    DEFAULT
		)
	</insert>
	
	<update id="updateProduct" parameterType="Product">
		UPDATE PRODUCT
		SET
			TITLE = #{title},
			CONTENT = #{content},
			MODIFY_DATE = SYSDATE
		WHERE NO = #{no}
	</update>
	
	<select id="getProductCount" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT
	</select>
	
	<select id="findProduct" resultMap="productListResultMap">
		SELECT NO, 
			   TITLE, 
			   CONTENT, 
			   CREATED_DATE, 
			   MODIFY_DATE
		FROM PRODUCT
		ORDER BY NO
	</select>
	
	<select id="getProductInfoCountByPNo" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT_INFO I
		JOIN PRODUCT P ON (P.NO = I.PRODUCT_NO)
		WHERE I.PRODUCT_NO = #{no}
		AND I.STATUS = 'Y'
	</select>
	
	<delete id="deleteProduct" parameterType="_int">
		DELETE FROM PRODUCT
		WHERE NO = #{no}
	</delete>
	
	<select id="selectProductByPNo" parameterType="_int" resultMap="productListResultMap">
		SELECT NO, 
			   TITLE, 
			   CONTENT, 
			   CREATED_DATE, 
			   MODIFY_DATE
		FROM PRODUCT
		WHERE NO = #{no}
	</select>
	
	<select id="selectProductInfoList" parameterType="map" resultMap="productInfoResultMap">
		<include refid="productInfoSql"/>
		<choose>
			<when test="no != null">
				AND PRODUCT_NO = ${no}
			</when>
		</choose>
		 ORDER BY PRODUCT_NO, NO
	</select>
	
	<select id="selectCartCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM CART 
		WHERE MEMBER_NO = #{no}
	</select>
	
	<select id="selectAllCart" parameterType="_int" resultMap="cartListResultMap">
		SELECT NO, 
		       COUNT,
		       MEMBER_NO,
		       PRODUCT_INFO_NO
		FROM CART
		WHERE MEMBER_NO = #{no}
	</select>
	
	<select id="selectAllProductInfo" resultMap="productInfoResultMap">
		<include refid="productInfoSql"/>
	</select>
	
	<insert id="insertCart" parameterType="Cart"
			useGeneratedKeys="true" keyColumn="NO" keyProperty="no">
		INSERT INTO CART(
			NO,
			COUNT,
			MEMBER_NO,
			PRODUCT_INFO_NO
		)VALUES(
			SEQ_CART_NO.NEXTVAL, 
			#{count}, 
			#{memberNo}, 
			#{productInfoNo}
		)
	</insert>
	
	<update id="updateCart" parameterType="Cart">
		UPDATE CART
		SET
		COUNT = #{count}
		WHERE NO = #{no}
	</update>
	
	<delete id="deleteCart" parameterType="_int">
		DELETE FROM CART
		WHERE NO = #{no}
	</delete>
	
	<select id="selectCartCountByINo" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM CART
		WHERE PRODUCT_INFO_NO = #{no}
	</select>
	
	<select id="selectCartByNo" parameterType="_int" resultMap="cartListResultMap">
		SELECT NO, 
		       COUNT,
		       MEMBER_NO,
		       PRODUCT_INFO_NO
		FROM CART
		WHERE NO = #{no}
	</select>
	
	<insert id="insertBuy" parameterType="Buy"
			useGeneratedKeys="true" keyColumn="NO" keyProperty="no">
		INSERT INTO BUY(
			NO,
			PRODUCT_INFO_NO,
			MEMBER_NO,
			COUNT,
			AMOUNT,
			BUY_DATE
		)VALUES(
			SEQ_BUY_NO.NEXTVAL, 
			#{productInfoNo},
			#{memberNo}, 
			#{count}, 
			#{amount}, 
			DEFAULT
		)
	</insert>
	
	<select id="selectAllBuy" parameterType="_int" resultMap="buyListResultMap">
		SELECT NO, 
		       PRODUCT_INFO_NO,
		       MEMBER_NO,
		       COUNT,
		       AMOUNT,
		       BUY_DATE
		FROM BUY
		WHERE MEMBER_NO = #{no}
	</select>
	
	<select id="selectBuyCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM BUY 
		WHERE MEMBER_NO = #{no}
	</select>
	
	<update id="updateProductInfoStock" parameterType="map">
		UPDATE PRODUCT_INFO
		SET
		STOCK = #{stock}
		WHERE NO = #{no}
	</update>
	
</mapper>  