<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.pitapet.member.model.dao.MemberMapper">
	<sql id="selectMemberSql">
		SELECT NO, 
		       ID, 
		       PASSWORD, 
		       ROLE,
		       NAME,
		       NICKNAME, 
		       PHONE, 
		       EMAIL, 
		       ADDRESS, 
		       PET, 
		       STATUS, 
		       ENROLL_DATE,
		       MODIFY_DATE
		FROM MEMBER
	</sql>

	<resultMap type="Member" id="memberResultMap">
		<id property="no" column="NO"/>
		<result property="id" column="ID"/>
		<result property="password" column="PASSWORD"/>
		<result property="role" column="ROLE"/>
		<result property="name" column="NAME"/>
		<result property="nickname" column="NICKNAME"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="address" column="ADDRESS"/>
		<result property="pet" column="PET"/>
		<result property="status" column="STATUS"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
	</resultMap>

	<select id="selectCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
	</select>
	
	<select id="selectAll" resultMap="memberResultMap">
		<include refid="selectMemberSql" />
		WHERE STATUS = 'Y'
	</select>

	<select id="findMemberById" parameterType="string" resultMap="memberResultMap">
		<include refid="selectMemberSql" />
		WHERE ID = #{id} AND STATUS = 'Y'
	</select>
	
	<select id="findMemberByEmail" parameterType="string" resultMap="memberResultMap">
		<include refid="selectMemberSql" />
		WHERE EMAIL = #{email} AND STATUS = 'Y'
	</select>
	
	<insert id="insertMember" parameterType="Member"
			useGeneratedKeys="true" keyColumn="NO" keyProperty="no">
		INSERT INTO MEMBER (
			NO, 
	       	ID,
	       	PASSWORD,
	       	ROLE,
	       	NAME,
	       	NICKNAME,
	       	PHONE,
       		EMAIL,
	       	ADDRESS,
	       	PET,
	       	STATUS,
	       	ENROLL_DATE,
	       	MODIFY_DATE
		) VALUES (
			SEQ_UNO.NEXTVAL,
			#{id},
			#{password},
			DEFAULT,
			#{name},
			#{nickname},
			#{phone},
			#{email},
			#{address},
			#{pet},
			DEFAULT,
			DEFAULT,
			DEFAULT
		)
	</insert>
	
	<select id="findId" parameterType="string" resultMap="memberResultMap">
		<include refid="selectMemberSql" />
		WHERE NAME = #{name} AND EMAIL = #{email}
	</select>
	
	<select id="findEmail" parameterType="string" resultType="string" >
		SELECT EMAIL 
		FROM MEMBER
		WHERE ID = #{id} AND EMAIL = #{email}
	</select>
	
	
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER 
		SET 
			PASSWORD = #{password},
			PET = #{pet},
			MODIFY_DATE = SYSDATE 
		WHERE NO = #{no}
	</update>
	
	<!-- 
	 비밀번호 업데이트 쿼리
	 -->
	 <update id="updatePw" parameterType="string">
	 	UPDATE MEMBER
	 	SET
	 	PASSWORD = #{password}
	 	WHERE ID = #{id}
	 </update>
	 
	 <select id="pwCheck" parameterType="string" resultType="string">
	 	SELECT PASSWORD FROM MEMBER WHERE ID = #{id}
	 </select>
	 
	 <select id="findPet" parameterType="string" resultType="string">
	 	SELECT PET FROM MEMBER WHERE ID = #{id}
	 </select>
	 
	 <update id="updatePet" parameterType="string">
	 	UPDATE MEMBER
	 	SET 
	 		PET = #{pet}
	 	WHERE ID = #{id}
	 </update>
	
	<delete id="deleteMember" parameterType="_int">
		UPDATE MEMBER
		SET
			STATUS = 'N'
		WHERE 
			NO = #{no}
	</delete>
</mapper>